<form action="<%= action %>" method="post">
    <label for="item_name">Item Name:</label>
    <input 
      type="text" 
      name="item_name" 
      id="item_name"
      
      <% if(locals.myItem) { %>
        value="test value"
      <% } %>
    >

    <button type="submit">Submit</button>
</form>