<form action="<%= action %>" method="post">
    <label for="categoryPlural">Category Name(Plural):</label>
    <input type="text" name="table_name" id="categoryPlural" required>

    <label for="categorySingular">Category Name(Singular):</label>
    <input type="text" name="col_name" id="categorySingular" required>

    <button type="submit">Submit</button>
</form>