<form action="/games/add" method="POST">
  <div>
    <label for="game_name">Game Name:</label>
    <input type="text" name="game_name" id="game_name">
  </div>
  <div>
    Genres:
    <label for="genres">Genres:</label>
    <input type="checkbox" name="" id="">
  </div>

  <button type="submit">Add Game</button>
</form>