  <% if(locals.allDevelopers) { %>
  <div>
    <label for="developers">Developer Name:</label>
    <select name="developers" id="developers">
      <% allDevelopers.forEach(developer => { %>
        <option 
        value="<%= developer.developer_id%>"
        <% if( (locals.myDeveloper) && (myDeveloper.developer_id == developer.developer_id) ) { %>
          selected
        <% } %>
        >
          <%= developer.developer_name %>
        </option>
      <% }) %>
    </select>
  </div>
  <% } %>
  
