  <% if(locals.developers) { %>
  <div>
    <label for="developers">Developer Name:</label>
    <select name="developers" id="developers">
        <% developers.forEach(developer => { %>
          <option value="<%= developer.developer_id %>"><%= developer.developer_name %></option>
        <% }); %>
    </select>
  </div>
  <% } %>