  <% if(locals.developers) { %>
  <div>
    <label for="developer">Developer Name:</label>
    <select name="developer" id="developer">
        <% developers.forEach(developer => { %>
          <option value="<%= developer.developer_id %>"><%= developer.developer_name %></option>
        <% }); %>
    </select>
  </div>
  <% } %>