  <div>
    <label for="game_name">Game Name:</label>
    <input 
      type="text" 
      name="game_name" 
      id="game_name" 
      <% if(locals.myData && locals.myData.game ) { %>
        value="<%= myData.game.game_name %>"
      <% } %>
    >
  </div>