  <div>
    <label for="game_name">Game Name:</label>
    <input 
      type="text" 
      name="game_name" 
      id="game_name" 
      <% if(locals.myGame) { %>
        value="<%= myGame.game_name %>"
      <% } %>
    >
  </div>