<div>
  <p>Genres:</p>
  <% if(locals.allGenres) { %>
    <% allGenres.forEach((genre) => { %> 
      <label for="genre-<%= genre.genre_name %>"><%= genre.genre_name %></label>
      <input 
      type="checkbox" 
      name="genres" 
      id="genre-<%= genre.genre_name %>"
      value="<%= genre.genre_id %>"
      <% if((locals.myGenresId) && (myGenresId.includes(genre.genre_id))) { %>
        checked
      <% } %>
      ><br>
    <% }) %>
  <% } %>
 

