<%- include('../../partials/header') %>
<main>
    <h1>Add Category</h1>
    <%- include("../../partials/errors.ejs") %>
    <form action="/categories/add" method="post">
        <label for="categoryPlural">Category Name(Plural):</label>
        <input type="text" name="table_name" id="categoryPlural" required>

        <label for="categorySingular">Category Name(Singular):</label>
        <input type="text" name="col_name" id="categorySingular" required>

        <button type="submit">Submit</button>
    </form>
</main>
<%- include('../../partials/footer') %>