<%- include('../../partials/header') %>
<main>
    <h1>Add Category</h1>
    <p>This will create a table in the database, make sure to only use lowercase letters, numbers, and underscores.</p>
    <%- include("../../partials/errors.ejs") %>
    <%- include('../../partials/categories/categoryForm') %>
</main>
<%- include('../../partials/footer') %>