<%- include('../../partials/header') %>
<main>
    <h1>Add Category</h1>
    <%- include("../../partials/errors.ejs") %>
    <%- include('../../partials/categories/categoryForm') %>
</main>
<%- include('../../partials/footer') %>