body{
  background-color: #eee;
}

.row{
    display: flex;
}

.container{

}

.flex-SpaceBetween{
  display: flex;
  justify-content: space-between;
}

.searchbar{
    display: flex;
}

main{

}

.card {
  background-color: #fff; /* White background for the card */
  border-radius: 8px; /* Slightly rounded corners */
  padding: 20px; /* Internal spacing */
  margin: 20px; /* Space around the card */
  width: 90%; /* Fixed width for demonstration */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Simple box shadow */
  transition: box-shadow 0.3s ease; /* Smooth transition for hover effect */
}

.card-small{
  background-color: #eee; /* White background for the card */
  border-radius: 8px; /* Slightly rounded corners */
  padding: 20px; /* Internal spacing */
  margin: 20px; /* Space around the card */
  width: 150px; /* Fixed width for demonstration */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Simple box shadow */
  transition: box-shadow 0.3s ease; /* Smooth transition for hover effect */
}

.card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Deeper shadow on hover */
}
