<%- include('../partials/header') %>
<main>
    <h1>Showing All Categories</h1>
    <% if(locals.categories) { %>
      <% categories.forEach((category) => { %>
        <div class="card">
            <a href="/categories/<%= category.table_name %>">By <%= category.table_name %> </a>
        </div>
      <% }) %>
    <% } %>
    <a href="/categories/add">
        <button>Add a category</button>
    </a>
</main>
<%- include('../partials/footer') %>