<%- include('../partials/header') %>
<main>
  <h1>Add Game</h1>
  <%- include("../partials/errors.ejs") %>
  <%- include('../partials/gameForm', { 
  buttonText: 'Submit Game'
  }) %>
</main>
<%- include('../partials/footer') %>