<%- include('../partials/header') %>
  <h1>Game Management App</h1>
  <main>
    <div>
        <a href="/games">
          All Games
        </a>
    </div>
  </main>
<%- include('../partials/footer') %>