<%- include('../partials/header') %>
  <h1>List of All Games</h1>
  <main>
    <div>
      <% if(locals.games) { %>
        <% games.forEach(game => { %>
          <div>
            <a href="/games/<%=game.game_id %>"><%= game.game_name %></a>
          </div>
        <% }); %>
      <% } %>
    </div>
  </main>
<%- include('../partials/footer') %>